name: Windows Test

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 5'
  # TODO: https://github.com/otiai10/gosseract/issues/262
  # push:
  #   branches: [main, develop, windows/*]
  # pull_request:
  #   branches: [main, develop]
  push:
    branches:
      - windows/*

jobs:
  windows-test:
    runs-on: windows-latest
    name: Windows Test
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.24'
    - name: Install Tesseract
      run: |
        vcpkg install tesseract:x64-windows --head
    - name: Test Gosseract
      env:
        PKG_CONFIG_PATH: C:/vcpkg/installed/x64-windows/lib/pkgconfig
        CGO_CFLAGS: -IC:/vcpkg/installed/x64-windows/include
        CGO_LDFLAGS: -LC:/vcpkg/installed/x64-windows/lib
      run: go test -v -cover ./...
